#link-drinker {
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5%;
    padding: 0;
}

.link{
    display: block;
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 15px 30px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #EFD3E7;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    font-family: Verdana, Arial, serif;
}

.link * {
    margin: 0;
    padding: 0;
}

.link img {
    float: left;
    margin-right: 15px;
}

.link .link-description {
    overflow: hidden;
}

.link-description h2 {
    font-size: 14px;
    color: #9C0063;
}

.link-description p {
    font-size: 12px;
    color: #D693BD;
}
